

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    color: #21282c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#headline {
    background-color: #92B6B1;
    display: flex;

    width: 100%;
}

#left-side {

    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;  
    padding-bottom: 2vmin;
 
}

#left-side h1::selection{
    background: white;
    color: #92B6B1;
}

#left-side button::selection{
    background: #92B6B1;
    color: white;
}

#hero-text {
    text-transform: uppercase;
    font-size: 10vmin;
}

.button {
    color: white;
    font-family: "Amatic Sc", sans-serif;
    font-size: 7vmin;
    font-weight: bold;
    border-color: white;
    background-color: transparent;
    padding: 1vmin;
    border-style: double;
    border-radius: 7px;
    border-width: 0.2em;
}

.button:hover {
    background-color: white;
    color:#92B6B1;
}

#hero-photo {
    width: 40vw;
    margin-left: auto;

}

#hero-photo::selection{
    background: white;
}

#support-title {
    background-color: #E8DDB5;
    font-family: "Amatic Sc";    
    display: flex;
    justify-content: center;
    align-items: center;
}

#support-title h2 {
    font-size: 8vmin;
}

#support-title h2::selection{
    background: white;
    color: #E8DDB5;
}

#benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*justify-content: space-around;
    align-items: center;*/
    padding-top: 3em;
    padding-bottom: 3em;
  margin-left: 12vw;
  margin-right: 12vw;

}

.benefit-card{
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
}


.benefit-card img {
    height: 6em;
    
   }

.benefit-card img::selection{
    background: #B2C9AB;
}

.benefit-card p {
    text-align: center;
    
}

.benefit-card p::selection{
    background: #B2C9AB;
    color: white;
}

.benefit-subtitle {
    font-size: 1.3rem;
}

.counter {
    font-family: "Amatic Sc";
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

#social-proof {
    background-color: #B2C9AB;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    justify-content: space-around;
    align-items: center;   
}

#social-proof-title {
    background-color: #B2C9AB;
    margin: 0;
    text-align: center;
    font-family: "Amatic Sc";
    font-weight: bold;
    font-size: 8vmin;
    padding-top: 2vmin;
  
}

#social-proof-title::selection{
    background: white;
    color:#B2C9AB;
}

.social-proof-card {
    padding: 1em;

    display: grid;
    grid-template-columns: 1;
    justify-items: center;
}

.social-proof-card img {
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.2em solid white;
}

.social-proof-card img::selection{
    background: white;
}

.social-proof-card p::selection{
    background: white;
    color:#B2C9AB;
}

.dog-name {
    font-size: 3rem;
    font-family: "Amatic Sc";
    margin-top: 0.3em;
    margin-bottom: 0;
}

.short-desc {
    text-align: justify;
}

#footer {
    background-color: #92B6B1;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1em;
    letter-spacing: 0.1em;
}

#footer::selection{
    background: white;
    color:#92B6B1;
}
