body {
    margin: 0 auto;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    color: #0D161C;
}

#headline {
    background-color: #92B6B1;
    height: 35em;
    display: flex;
}

#left-side {
    margin-left: auto;
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;   
}

.button {
    color: white;
    font-family: "Amatic Sc", sans-serif;
    font-size: 3.3em;
    font-weight: bold;
    border-color: white;
    background-color: transparent;
    padding: 0.4em;
    border-style: double;
    border-radius: 7px;
    border-width: 0.2em;
}

.button:hover {
    background-color: white;
    color:#92B6B1;
}

#hero-photo{
    height: 100%;
    margin-left: auto;
}

#support-title {
    background-color: #E8DDB5;
    font-family: "Amatic Sc";
    font-size: 2rem;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#benefits {
    display: grid;
    height: 15em;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;   
}

.benefit-card {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.benefit-card img {
    height: 4em;
   }

.benefit-card p {
    text-align: center;
}

.counter {

}

#social-proof {
    background-color: #B2C9AB;
    height: 20em;
    display: grid;
    grid-template-areas: 'title title title'
                        'card1 card2 card3';
    justify-content: space-around;
    align-items: center;   
}

#social-proof-title{
    text-align: center;
    grid-area: title;
    font-family: "Amatic Sc";
    font-weight: bold;
    font-size: 3rem;
}
#social-proof-title p::selection{
    background: white;
    color:#B2C9AB;
}

#social-proof-card1{
    grid-area: card1;
}

#social-proof-card2{
    grid-area: card2;
}

#social-proof-card3{
    grid-area: card3;
}

#footer {
    background-color: #92B6B1;
    height: 5em;
}

