body {
    margin: 0 auto;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    color: #21282c;
}

#headline {
    background-color: #92B6B1;
    height: 35em;
    display: flex;
}

#left-side {
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;  
}

#left-side h1::selection{
    background: white;
    color: #92B6B1;
}

#left-side button::selection{
        background: #92B6B1;
        color: white;
}

.button {
    color: white;
    font-family: "Amatic Sc", sans-serif;
    font-size: 3.3em;
    font-weight: bold;
    border-color: white;
    background-color: transparent;
    padding: 0.4em;
    border-style: double;
    border-radius: 7px;
    border-width: 0.2em;
}

.button:hover {
    background-color: white;
    color:#92B6B1;
}

#hero-photo{
    height: 100%;
    margin-left: auto;
}

#support-title {
    background-color: #E8DDB5;
    font-family: "Amatic Sc";
    font-size: 2rem;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#support-title h2::selection{
    background: white;
    color: #E8DDB5;
}

#benefits {
    display: grid;
    height: 15em;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;   
}

.benefit-card {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.benefit-card img {
    height: 4em;
   }

.benefit-card img::selection{
    background: #B2C9AB;
}

.benefit-card p {
    text-align: center;
}

.benefit-card p::selection{
    background: #B2C9AB;
    color: white;
}

.counter {
    font-family: "Amatic Sc";
    font-size: 2.5rem;
    font-weight: bold;
}

#social-proof {
    background-color: #B2C9AB;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 /*   grid-template-areas: 'title title title'
                        'card1 card2 card3';*/
    justify-content: space-around;
    align-items: center;   
}

#social-proof-title {
    text-align: center;
    font-family: "Amatic Sc";
    font-weight: bold;
    font-size: 3rem;
    grid-column: span 3;
}

#social-proof-title::selection{
    background: white;
    color:#B2C9AB;
}

.social-proof-card {
    padding: 1em;
    display: grid;
    grid-template-columns: 1;
}

.social-proof-card img {
    height: 10em;
    
}

.social-proof-card p::selection{
    background: white;
    color:#B2C9AB;
}

#footer {
    background-color: #92B6B1;
    height: 15px;
}

#footer::selection{
    background: white;
    color:#92B6B1;
}
